.topicStyles {
    width: 100%;
}

.topicActionAndName {
    display: flex;
    margin: 10px 0px 10px 0px;
    gap: 50vh;
}

.actionContainer {
    width: 30vh;
}

.actionIcon {
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
}