.topicStyles {
    width: 100%;
}

.topicActionAndName {
    display: flex;
    margin: 10px 0px 10px 0px;
    gap: 20vw;
}

.actionContainer {
    width: 14vw;
}

.topicContainer {
    width: 17vw;
}

.actionIcon {
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
    cursor: pointer;
}


.mainTopicStyles {
    color: #f55936;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

.subTopicStyles {
    padding-left: 30px;
    color: #C65BCF;
    font-weight: 700;
}

.subSubTopicStyles {
    padding-left: 60px;
    color: #AF8260;
    font-weight: 700;
}