.topicStyles {
    width: 100%;
}

.topicActionAndName {
    display: flex;
    margin: 10px 0px 10px 0px;
    gap: 50vh;
}

.actionContainer {
    width: 30vh;
}

.topicContainer {
    width: 100vh;
}

.actionIcon {
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
    cursor: pointer;
}


.mainTopicStyles {
    color: red;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subTopicStyles {
    padding-left: 30px;
    color: blue;
    font-weight: 700;
}

.subSubTopicStyles {
    padding-left: 60px;
    color: black;
    font-weight: 700;
}