.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    width: 25vw;
}

.close {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.modalHeader {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2vw;
}

.inputField {
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 80%;
    margin-bottom: 2.5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.actionButton {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteTag {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 1.5vw;
}

@media screen and (max-width: 1040px){
    .modalContent {
        width: 280px;
    }
}